extends ../layout.pug

block content
	h1 Books
	p
		a.button(href="/books/new") Create New Book
	table 
		thead 
			tr 
				th#title Title 
				th#author Author 
				th#genre Genre 
				th#year Year
		tbody
			each book in books
				tr
					td 
						a(href="books/" + book.id)= book.title
					td= book.author 
					td= book.genre
					td= book.year