form(action="books/search" method="POST").mr-0
    p.col
        label(for="category").col-sm-2 Search by:
        select(name="category" id="category").w-100
            option(value="") Please select
            option(value="title") Title
            option(value="author") Author
            option(value="genre") Genre
            option(value="year") Year
    p.col
        label(for="search").col-sm-2 Search for:
        input(type=text name="search" id="search" placeholder="What are you looking for?" value=search)
    p.col.jc-right
        input(type="submit" value="Search").ml-0
